In [1]:
import pandas as pd

In [5]:
# read 2018 trip data
jan_df = pd.read_csv("JC-201801-citibike-tripdata.csv")
feb_df = pd.read_csv("JC-201802-citibike-tripdata.csv")
mar_df = pd.read_csv("JC-201803-citibike-tripdata.csv")
apr_df = pd.read_csv("JC-201804-citibike-tripdata.csv")
may_df = pd.read_csv("JC-201805-citibike-tripdata.csv")
jun_df = pd.read_csv("JC-201806-citibike-tripdata.csv")
jul_df = pd.read_csv("JC-201807-citibike-tripdata.csv")
aug_df = pd.read_csv("JC-201808-citibike-tripdata.csv")
sep_df = pd.read_csv("JC-201809-citibike-tripdata.csv")
oct_df = pd.read_csv("JC-201810-citibike-tripdata.csv")
nov_df = pd.read_csv("JC-201811-citibike-tripdata.csv")
dec_df = pd.read_csv("JC-201812-citibike-tripdata.csv")

In [6]:
jan_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,932,2018-01-01 02:06:17.5410,2018-01-01 02:21:50.0270,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31929,Subscriber,1992,1
1,550,2018-01-01 12:06:18.0390,2018-01-01 12:15:28.4430,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31845,Subscriber,1969,2
2,510,2018-01-01 12:06:56.9780,2018-01-01 12:15:27.8100,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31708,Subscriber,1946,1
3,354,2018-01-01 14:53:10.1860,2018-01-01 14:59:05.0960,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,31697,Subscriber,1994,1
4,250,2018-01-01 17:34:30.1920,2018-01-01 17:38:40.9840,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,31861,Subscriber,1991,1

In [7]:
# combine frames
frames = [jan_df, feb_df, mar_df, apr_df, may_df, jun_df, jul_df, aug_df, sep_df, oct_df, nov_df, dec_df]
combined = pd.concat(frames)

In [8]:
combined.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,932,2018-01-01 02:06:17.5410,2018-01-01 02:21:50.0270,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31929,Subscriber,1992,1
1,550,2018-01-01 12:06:18.0390,2018-01-01 12:15:28.4430,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31845,Subscriber,1969,2
2,510,2018-01-01 12:06:56.9780,2018-01-01 12:15:27.8100,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31708,Subscriber,1946,1
3,354,2018-01-01 14:53:10.1860,2018-01-01 14:59:05.0960,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,31697,Subscriber,1994,1
4,250,2018-01-01 17:34:30.1920,2018-01-01 17:38:40.9840,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,31861,Subscriber,1991,1

In [14]:
print (combined.isnull().values.any())

False

In [18]:
combined.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [22]:
# read membership data
janmar_df = pd.read_csv("janmar.csv")
aprjun_df = pd.read_csv("aprjun.csv")
julsep_df = pd.read_csv("julsep.csv")
octdec_df = pd.read_csv("augdec.csv")

In [23]:
# check octdec and julsep because csv date names overlap and may have been named incorrectly
octdec_df.head()

,Date,Trips over the past 24-hours (midnight to 11:59pm),Miles traveled today (midnight to 11:59 pm),Total Annual Members (All Time),24-Hour Passes Purchased (midnight to 11:59 pm),3-Day Passes Purchased (midnight to 11:59 pm)
0,10/1/18,71387,120257,290631,2618,307
1,10/2/18,73113,122234,290788,2666,195
2,10/3/18,76769,129720,290947,3141,199
3,10/4/18,70698,116337,291073,2838,222
4,10/5/18,74744,129597,291166,3979,254

In [24]:
octdec_df

,Date,Trips over the past 24-hours (midnight to 11:59pm),Miles traveled today (midnight to 11:59 pm),Total Annual Members (All Time),24-Hour Passes Purchased (midnight to 11:59 pm),3-Day Passes Purchased (midnight to 11:59 pm)
0,10/1/18,71387,120257,290631,2618,307
1,10/2/18,73113,122234,290788,2666,195
2,10/3/18,76769,129720,290947,3141,199
3,10/4/18,70698,116337,291073,2838,222
4,10/5/18,74744,129597,291166,3979,254
5,10/6/18,57599,110421,291298,5658,310
6,10/7/18,60753,127033,291425,6936,277
7,10/8/18,58256,95097,291549,2865,121
8,10/9/18,74251,123973,291672,2846,207
9,10/10/18,77317,132255,291765,3115,202
10,10/11/18,46862,70173,291862,1323,59
11,10/12/18,67686,113055,291962,3453,255
12,10/13/18,54747,100652,292029,2430,125
13,10/14/18,54297,103697,292158,4805,204
14,10/15/18,59181,92219,292262,1958,95
15,10/16/18,66661,104171,292370,2200,158
16,10/17/18,67868,107762,292469,2341,134
17,10/18/18,61668,94356,292519,1969,143
18,10/19/18,64735,105730,292604,3012,192
19,10/20/18,56281,109142,292711,5644,309
20,10/21/18,39192,64764,292811,2488,100
21,10/22/18,57919,88293,292899,1721,133
22,10/23/18,68086,110293,292992,2356,181
23,10/24/18,64203,98615,293077,1942,97
24,10/25/18,61637,95827,293309,2003,146
25,10/26/18,59861,92569,293508,2292,131
26,10/27/18,13124,17949,293542,333,11
27,10/28/18,42502,74540,293611,3134,154
28,10/29/18,60028,92882,293722,1853,156
29,10/30/18,65545,102834,293819,1957,141
...,...,...,...,...,...,...
62,12/2/18,18418,26501,296584,554,11
63,12/3/18,53974,85524,296664,1308,62
64,12/4/18,49058,71843,296708,867,27
65,12/5/18,46779,67536,296753,814,38
66,12/6/18,46543,66885,296798,910,40
67,12/7/18,43841,63353,296843,948,52
68,12/8/18,29909,44552,296867,1271,46
69,12/9/18,27547,40886,296897,1064,23
70,12/10/18,43358,62699,296938,762,25
71,12/11/18,47335,68321,296974,823,20
72,12/12/18,47717,68600,297005,748,28
73,12/13/18,40736,57295,297042,593,14
74,12/14/18,44775,66633,297078,1137,44
75,12/15/18,36423,57244,297119,1902,45
76,12/16/18,9835,13599,297131,203,4
77,12/17/18,45382,66449,297173,909,32
78,12/18/18,41703,58360,297205,656,22
79,12/19/18,44096,63165,297238,877,22
80,12/20/18,34026,48713,297269,751,20
81,12/21/18,23996,34450,297290,481,24
82,12/22/18,24870,36653,297327,1088,25
83,12/23/18,22230,35921,297355,1298,37
84,12/24/18,18990,27246,297387,681,18
85,12/25/18,11177,21483,297426,1080,38
86,12/26/18,25358,39176,297487,1118,49
87,12/27/18,31169,48943,297527,1510,51
88,12/28/18,12039,17576,297555,334,25
89,12/29/18,29037,54116,297622,2677,104
90,12/30/18,22536,37741,297682,1562,51
91,12/31/18,18936,29794,297748,962,31

In [25]:
julsep_df

,Date,Trips over the past 24-hours (midnight to 11:59pm),Miles traveled today (midnight to 11:59 pm),Total Annual Members (All Time),24-Hour Passes Purchased (midnight to 11:59 pm),3-Day Passes Purchased (midnight to 11:59 pm)
0,7/1/18,45265,120484,274813,4209,211
1,7/2/18,58633,130122,275016,2702,241
2,7/3/18,54882,113998,275157,2358,199
3,7/4/18,48368,136287,275304,5662,250
4,7/5/18,59471,133659,275487,3344,264
5,7/6/18,49504,111660,275614,2650,189
6,7/7/18,60916,173852,275793,7284,349
7,7/8/18,60486,171826,275988,6667,310
8,7/9/18,70063,153650,276203,3103,283
9,7/10/18,72501,147441,276399,2999,227
10,7/11/18,73011,163349,276553,3049,170
11,7/12/18,74857,161182,276703,3520,231
12,7/13/18,72113,156285,276858,3998,294
13,7/14/18,62556,157266,277000,7241,334
14,7/15/18,52295,132234,277133,5121,248
15,7/16/18,67072,146307,277344,3101,278
16,7/17/18,48495,97913,277466,1558,129
17,7/18/18,75706,169481,277703,3578,247
18,7/19/18,78004,141327,277891,3938,280
19,7/20/18,74539,136511,278052,4590,275
20,7/21/18,53651,114977,278195,6266,309
21,7/22/18,44284,87253,278338,4316,244
22,7/23/18,53074,88170,278458,2277,152
23,7/24/18,69754,117924,278651,2957,162
24,7/25/18,42988,66587,278742,1474,124
25,7/26/18,71065,122885,278874,3321,252
26,7/27/18,49224,82987,278993,2526,251
27,7/28/18,61543,129505,279147,7004,361
28,7/29/18,63472,137343,279321,7244,250
29,7/30/18,69512,123639,279509,3490,333
...,...,...,...,...,...,...
62,9/1/18,54318,116904,285245,6711,439
63,9/2/18,60828,140923,285368,5562,292
64,9/3/18,55067,117164,285609,6239,279
65,9/4/18,68655,114264,285867,2793,215
66,9/5/18,74981,124919,286102,2934,191
67,9/6/18,70264,113123,286304,2678,207
68,9/7/18,74586,127470,286475,3523,227
69,9/8/18,58284,111254,286637,5442,270
70,9/9/18,19950,30544,286752,895,16
71,9/10/18,23949,32472,286847,463,26
72,9/11/18,66552,109380,286985,2456,193
73,9/12/18,53241,82748,287120,1650,115
74,9/13/18,74054,123401,287262,2874,197
75,9/14/18,74330,128288,287412,3623,298
76,9/15/18,71185,149524,287622,7570,353
77,9/16/18,69515,150281,287897,7410,270
78,9/17/18,71340,118809,288137,2914,162
79,9/18/18,53077,82768,288266,1433,74
80,9/19/18,74372,129089,288450,3529,290
81,9/20/18,76803,129385,288599,3130,235
82,9/21/18,74940,128273,288719,3677,224
83,9/22/18,69133,142121,289160,7511,298
84,9/23/18,55494,104944,289370,4716,184
85,9/24/18,71631,115888,289524,2615,289
86,9/25/18,25430,35795,289591,506,65
87,9/26/18,68007,110772,289698,2423,296
88,9/27/18,75370,126480,289829,3044,399
89,9/28/18,57230,90249,289911,1986,296
90,9/29/18,69321,145920,290170,6960,906
91,9/30/18,66224,139423,290467,6367,675